<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BKAllocatedSize</key>
	<integer>995328</integer>
	<key>BKDisplayName</key>
	<string>Love&amp;Respect</string>
	<key>BKGenerationCount</key>
	<integer>2</integer>
	<key>BKInsertionDate</key>
	<integer>702076832</integer>
	<key>artistName</key>
	<string>Emerson Eggerichs</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>5F60F6F284BCF75CD53370E87EB5598F</string>
		<key>cover-image-path</key>
		<string>OEBPS/Images/cover.jpg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>7307240FCB60CEB92D6C92064F93ACDB</string>
		<key>publisher-unique-id</key>
		<string>9781418569051</string>
		<key>unique-id</key>
		<integer>-2094498357122099208</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>genre</key>
	<string>ebook</string>
	<key>isPreview</key>
	<false/>
	<key>itemName</key>
	<string>Love and Respect</string>
	<key>updateDate</key>
	<date>2023-04-01T21:20:32Z</date>
</dict>
</plist>
